// About page specific styles
.about-page {
  // Display settings
  .quarto-title,
  #hyvor-talk-view {
    display: contents;
  }

  // Heading styles
  h1 {
    font-family: 'heliotrope_3';
    font-size: xx-large;
  }
}
