// Credits page specific styles

// Display settings
.quarto-title,
#hyvor-talk-view {
    display: none;
}

// Citation styles
.csl-entry {
    margin-bottom: 25px !important;
    margin-left: 0;
}

.hanging-indent {
    text-indent: 0 !important;
    margin-left: 0 !important;
}

// Heading styles
h1 {
    font-family: 'amsterdamkingdom';
    margin-bottom: 25px;
}

.modal-content h1 {
    font-size: 42px;
}

// Table styles
.table {
    > :not(:first-child),
    > tbody {
        border-top: 0 !important;
    }
}

td img {
    border-radius: 50%;
} 